body {
  margin: 1em;
  background-color: antiquewhite;
  filter: drop-shadow(0 0 0.3em rgba(0, 0, 0, 0.2));
}

main {
  text-align: center;
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 1em;
}

#app {
  margin: auto;
  width: 100%;
  height: 28em;
}

span.tag {
  background-color: lightgoldenrodyellow;
  border: 1px solid goldenrod;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 1px 4px;
}
